/Assembly-CSharp.rsp
/Unity.Burst.Editor.rsp
/Unity.Burst.rsp
/Unity.Collections.rsp
/Unity.Entities.Editor.rsp
/Unity.Entities.Hybrid.rsp
/Unity.Entities.Properties.rsp
/Unity.Entities.rsp
/Unity.Jobs.Editor.rsp
/Unity.Jobs.rsp
/Unity.Mathematics.rsp
/Unity.PackageManagerUI.Editor.rsp
/Unity.Properties.Codegen.rsp
/Unity.Properties.Editor.rsp
/Unity.Properties.rsp
/Unity.Rendering.Hybrid.rsp
/Unity.TextMeshPro.Editor.rsp
/Unity.TextMeshPro.rsp
/Unity.Transforms.Hybrid.rsp
/Unity.Transforms.rsp
/UnityEditor.StandardEvents.rsp
/unity_incremental_compiler_server.log
